html {
  background-color: black;
}

img {
  -webkit-user-drag: none;
}

::selection {
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(152, 24, 35, 0.65);
}

.Tooltip {
  background: #222;
  color: white;
  pointer-events: none;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 14px;
}

.web3modal-modal-lightbox,
#WEB3_CONNECT_MODAL_ID > div {
  z-index: 90;
}
