[submodule "scripts/assets/trustwallet-assets"]
	path = scripts/assets/trustwallet-assets
	url = https://github.com/trustwallet/assets
[submodule "packages/bento-private"]
	path = packages/bento-private
	url = https://junhoyeo@github.com/inevitable-changes/bento-private
