[submodule "scripts/assets/trustwallet-assets"]
	path = scripts/assets/trustwallet-assets
	url = https://github.com/trustwallet/assets
[submodule "packages/bento-private"]
	path = packages/bento-private
	url = https://github.com/inevitable-changes/bento-private
[submodule "packages/linky-profile-engine"]
	path = packages/linky-profile-engine
	url = https://github.com/inevitable-changes/linky-profile-engine.git
