@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'),
    url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}
